{% extends 'base.html' %}
{% load team_lookups %}
{% load utilities %}
{% load humanize %}
{% load markdown_deux_tags %}
{% block page_title %}Events{% endblock %}

{% block content %}
<div class="panel-group" id="eventsAccordion" role="tablist" aria-multiselectable="true">
{% for event in events %}
    <div class="panel panel-default text-center">
        <div class="panel-heading" role="tab" id="heading{{forloop.counter0}}">
            <h2 class="panel-title">
                    {{event.start.dateTime|parse_date_string|date }} - {{ event.summary }}
            </h2>
        </div>

        <div class="panel-body">
            <h4 class="card-title">{{ event.location }}</h4>
            <div class="text-left">{{ event.description|markdown }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}