{% load utilities %}

<nav class="text-center">
  <ul class="pagination">
    <li>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
    </li>
    {% sub_range page_obj 2 as subrange %}
    {% for page in subrange %}
        <li {% if page_obj.number == page %}class="active"{% endif %}>
            <a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        {% endif %}
    </li>
  </ul>
</nav>